<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>uTutor - Admin Dashboard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/admin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="../scripts/AdminDashboard.js"></script>
</head>
<body>
	<!--===============================================
	Header
	===================================================-->
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">uTutor</a>
			</div>

			<ul class="nav navbar-nav links">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right links">
				<li><a>Hello, <span class="ututor_user"></span></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
				<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</ul>
		</div>
    </nav>
	
	<!--===============================================
	Admin Dashboard Page
	===================================================-->
    <div class="container">
    	<div id="top_table" class="menu">
		    <ul>
		        <li><a name="nav" href="#Change_PW" id="button_PW">Change PassWord</a></li>
		        <li><a name="nav" href="#Add" id="button_add">Add Users</a></li>
		        <li><a name="nav" href="#update" id="button_update">Update Users</a></li>        
		        <li><a name="nav" href="#remove" id="button_rm_fname">Remove Users</a></li>
		        <li><a name="nav" href="#init_db" id="button_init_db">Initialize DataBase</a></li>
		        <li><a name="nav" href="#repop_db" id="button_repop_db">Repopulate DataBase</a></li>
		    </ul>
		</div>
		<div class="main">
			<div id="Search_Users">
	        	<h2>List All Users</h2>
	        	<button name="search">Student</button>
	        	<button name="search">Tutor</button>
	        	<button name="search">Admin</button>
		        <table id="users_table">
		            <tr>Type</tr>
		            <tr>Username</tr>
		            <tr>Email</tr>
		            <tr>PassWord</tr>
		            <tr>Skills</tr>
		            <tr>Zipcode</tr>
		            <tr>About</tr>
		        </table>
	    	</div>
	    </div>
	</div>
</body>
</html>