<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>uTutor - Admin Dashboard</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/admin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="../scripts/remove.js"></script>
</head>
<body>
	<!--===============================================
	Header
	===================================================-->
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">uTutor</a>
			</div>

			<ul class="nav navbar-nav links">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right links">
				<li><a>Hello, <span class="ututor_user"></span></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
				<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</ul>
		</div>
    </nav>
	
	<!--===============================================
	Admin Dashboard Page
	===================================================-->
	<div id="top_table" class="menu">
	    <ul>
	        <li><a name="nav" href="AdminDashboard.html" id="button_PW">Change PassWord</a></li>
	        <li><a name="nav" href="adduser.html" id="button_add">Add Users</a></li>
	        <li><a name="nav" href="update.html" id="button_update">Update Users</a></li>        
	        <li><a name="nav" href="remove.html" id="button_rm_fname">Remove Users</a></li>
	        <li><a name="nav" href="#init_db" id="button_init_db">Initialize DataBase</a></li>
	        <li><a name="nav" href="#repop_db" id="button_repop_db">Repopulate DataBase</a></li>
	    </ul>
	</div>
	<div class="main">
		
		<div id="update">
        	<h2>Remove Users</h2>
        	<form id="search_by" method="get">
	            <label>
	                <span class="label">Search by Username or Email:</span>
	                <input type="text" id="infor" name="infor">
	            </label>
	            <input id="search_by_Button" class="search_by_submit" type="submit" value="Search">
	        </form>

	        <div id="pwtable" style="display: none;">
	        	<p>Press Any Cells To Edit</p>
		        <table>
		            <thead>
		            <tr>
		            	<th></th>
		                <th>Type</th>
		                <th>Username</th>
		                <th>Email</th>
		                <th>Password</th>
		                <th>Skill</th>
		                <th>Zip Code</th>
		                <th>About</th>
		            </tr>
		            </thead>
		            <tbody id="users_table">
		            </tbody>
		        </table>
		    </div>
    	</div>
    </div>			
</body>
</html>