<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>uTutor - Search</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../scripts/Search.js"></script>
	<link rel="stylesheet" href="../css/search.css">
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmkUelpBJLbIYEmYOz6Cie2t-49gqrlZs&callback=initMap"></script>
</head>
<body>
	<!--===============================================
	Header
	===================================================-->
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">uTutor</a>
			</div>

			<ul class="nav navbar-nav links">
				<li><a href="Search.html"><span class="glyphicon glyphicon-home"></span> Search</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right links">
				<li><a>Hello, <span class="ututor_user"></span></a></li>
				<li><a href="Profile.html"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
				<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</ul>
		</div>
	</nav>
	
	<!--===============================================
	Search Page
	===================================================-->
    <div class="container">
    	<div class="row">
    		<div>
	    	<ul class = 'tab'>
	    		<li><a href="javascript:void(0)" class="tablinks active" onclick="searchtab(event, 'skill')">Skill</a></li>
	    		<li><a href="javascript:void(0)" class="tablinks" onclick="searchtab(event, 'username')">Username</a></li>
	    	</ul>
	    	</div>
	    	<div id = 'skill' class="tabcontent">
				<input type = 'text' id = 'search' name = 'tutor' class = 'searchbar' placeholder = 'Enter a skill...'>
				<button class = 'button' id='go'> GO!</button>
			</div>
			<div id = 'username' class="tabcontent">
				<input type = 'text' id = 'searchByUsername' class = 'searchbar' name = 'tutor' placeholder = 'Enter a username...'>
				<button class = 'button' id='goByUsername'> GO!</button>
			</div>
		</div>
		
		<div class="row">
			<div id="map">
			</div>
			<div id='result'>
			</div>
		</div>
		
		<!-- Email Popup -->
		<div class="modal fade" id="emailPopup" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Modal Header</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form" method="post" action="index.php">
							<div class="form-group">
								<label for="name" class="col-sm-2 control-label">From: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="fromemail" name="fromemail" value="" readonly>
								</div>
							</div>
							<div class="form-group">
								<label for="email" class="col-sm-2 control-label">To: </label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="toemail" name="toemail" value="" readonly>
								</div>
							</div>
							<div class="form-group">
								<label for="subject" class="col-sm-2 control-label">Subject: </label>
								<div class="col-sm-10">
									<input type="subject" class="form-control" id="subject" name="subject" value="">
								</div>
							</div>
							<div class="form-group">
								<label for="message" class="col-sm-2 control-label">Message: </label>
								<div class="col-sm-10">
									<textarea class="form-control" rows="4" id="message" name="message"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-10 col-sm-offset-2">
									<input type="button" onclick="sendEmail()" class="btn btn-primary" value="Send">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	
</body>
</html>