<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>uTutor - Author</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<!--===============================================
	Header
	===================================================-->
	<nav class="navbar navbar-inverse" role="navigation" style = 'margin-bottom:0px;'>
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="ututor.html">uTutor</a>
			</div>

			<ul class="nav navbar-nav links">
				<li><a href="Search.html"><span class="glyphicon glyphicon-home"></span> Search</a></li>
			</ul>
		</div>
    </nav>
	
	<!--===============================================
	Profile Page
	===================================================-->
<body style='margin:0px;'>
	<div>
		<img src="../assets/uoft.jpg" alt="U of T" style="width:100%;height:auto; position: center;">
	</div>
	<div class = 'text' style='float:right;padding-right: 20px;'>
	<p style='position: center;font-family:"Comic Sans MS", cursive, sans-serif'>Velut arbor ævo (Grow as a tree through ages)<p>
	<p>Site created by: Zheda Mai, Xiangyi Pan, Xu Chen</p>
	</div>
</body>
</html>
	
</body>
</html>